[Unit]
Description=Gost server
After=network-online.target nss-lookup.target
Wants=network-online.target

[Service]
Type=simple
User=gost
Group=gost
DynamicUser=true
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
WorkingDirectory=/opt/gost
ExecStart=/opt/gost/gost -C /opt/gost/config.json
Restart=always
RestartSec=5

# 资源限制优化
LimitCORE=infinity
LimitNOFILE=512000
LimitNPROC=512000
# 安全设置
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictSUIDSGID=true
ReadWritePaths=/opt/gost
# 日志管理
StandardOutput=null
#StandardError=journal
SyslogIdentifier=gost

[Install]
WantedBy=multi-user.target
